.prank-review_form .value {
    display: flex;
    transition-duration: .4s;
}
.prank-review_form .value label {
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.prank-review_form .value .prank-star {
    margin: 0 auto;
    transition-duration: .4s,
}
.prank-review_form .value .empty .prank-star {
    opacity: .4;
}
.prank-review_form .value .empty .prank-star:hover {
    transform: scale(1.3);
}
.prank-review_form .value .fill:not(.current) .prank-star:hover {
    transform: scale(0.8);
}
.prank-review_form .value .number {
    display: block;
    font-size: .8em;
}
.prank-review_form .value .input {
    display: none;
}
.prank-review_form button {
    margin-top: 10px;
}
