.prank-recent-reviews {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.prank-recent-reviews .review {
    align-items: flex-start;
    display: flex;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}
.prank-recent-reviews .review .image {
    box-sizing: border-box;
    display: flex;
    width: 30%;
}
.prank-recent-reviews .review .image a {
    display: flex;
    text-decoration: none;
}
.prank-recent-reviews .review .data {
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
    width: 70%;
    white-space: normal;
}
.prank-recent-reviews .review .user {
    font-weight: bold;
}
.prank-recent-reviews .review .title,
.prank-recent-reviews .review .user,
.prank-recent-reviews .review .value {
    padding-bottom: 5px;
}
.prank-recent-reviews .review .value .num {
    display: none;
}
.prank-recent-reviews .review .value .graph {
    display: flex;
}
.prank-recent-reviews .review .value .graph .prank-star.empty {
    opacity: .2;
}
